@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	cursor:url('cursor_1.svg'),auto; 
	margin:0;
	padding:0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif; 
	background: #222;
}

/* follower che segue il cursore con un delay di 200ms */
.follower {
  width: 40px;
  height: 40px;
  background-color: #8b00f7;
  opacity: 50%;
  border-radius: 40px;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  position: fixed;
  transform: translate(-50%, -50%);
}


.offset:before{
	display: block;
	content: "";
	height: 6rem;
}

.navbar {
	font-size: 14px ;
 	letter-spacing:0.1rem; 
	background: rgba(0,0,0,0.6) !important ; /* colore della navbar */
	padding: 5px 0;
}


.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-left: 20px ;
	
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #8b00f7;
	font-weight: 700;
	font-size: 15px;
}
 
/* animazione navbar icon */

label{
 display:flex;
  flex-direction:column;
  width:25px;
  cursor:pointer;
}

label span{
  background: #fff;
  border-radius:10px;
  height:4px;
  margin: 2px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}

span:nth-of-type(1){
  width:50%;  
}

span:nth-of-type(2){
  width:100%;
}

span:nth-of-type(3){
  width:75%;
 
}

input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}

input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);
}


 /* --------HOME ---------------*/

.heading-content{
	position: absolute;
	top: 30%;
	width:100%;
	max-width: 100%;
}

.heading-content h5{
	font-size: 3em;
	font-weight: 300;
	color: whitesmoke;
}

.heading-content h1{
	font-size: 5em;
	font-weight: bolder;
	color: whitesmoke;
}


/*------- Typewriter effect -------*/
@keyframes typing {
  0.0000%, 28.9488% { content: ""; }
  1.1395%, 28.2093% { content: "g"; }
  2.2791%, 28.0698% { content: "gr"; }
  3.4186%, 27.9302% { content: "gra"; }
  4.5581%, 27.7907% { content: "grap"; }
  5.6977%, 26.9512% { content: "graph"; }
  6.8372%, 26.0116% { content: "graphi"; }
  7.9767%, 25.3721% { content: "graphic"; }
  8.1163%, 24.9326% { content: "graphic "; }
  9.2558%, 24.0930% { content: "graphic d"; }
  10.2558%, 23.9930% { content: "graphic de"; }
  11.2558%, 23.0930% { content: "graphic des"; }
  12.2558%, 22.0930% { content: "graphic desi"; }
  13.2558%, 21.0930% { content: "graphic desig"; }
  14.2558%, 20.0930% { content: "graphic design"; }
  15.2558%, 19.0930% { content: "graphic designe"; }
  16.2558%, 18.0930% { content: "graphic designer"; }

  30.7674%, 56.2791% { content: ""; }
  31.9070%, 55.1395% { content: "c"; }
  33.0465%, 54.0000% { content: "cr"; }
  34.1860%, 53.8605% { content: "cre"; }
  35.3256%, 52.7209% { content: "crea"; }
  36.4651%, 51.5814% { content: "creat"; }
  37.6047%, 50.4419% { content: "creati"; }
  38.6047%, 49.4419% { content: "creativ"; }
  39.6047%, 48.4419% { content: "creative"; }
  40.6047%, 47.4419% { content: "creative."; }

  64.6977%, 85.2093% { content: ""; }
  65.8372%, 84.0698% { content: "."; }
  66.9767%, 82.9302% { content: ".."; }
  67.1163%, 81.7907% { content: "..."; }
  68.6977%, 85.2093% { content: "... "; }
  69.8372%, 84.0698% { content: "... i"; }
  70.9767%, 82.9302% { content: "... id"; }
  71.1163%, 81.7907% { content: "... idk"; }
 }

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "graphic designer"; }
    25% { content: "creative."; }
    50% { content: "idk"; }

  }

  .typewriter::before {
    content: "graphic designer";
    animation: sequencePopup 12s linear infinite;
  }
}


/* --------ABOUT---------------*/

#about{
	width:100%;
	max-width: 100%;
	color: whitesmoke;
}

#about .btn{
	border: 2px solid black;
	width: 60%;
	padding: 15px 22px;
	background: #000;
	border-radius: 50px;
	margin-top: 10px;	
}


#about .btn a{
	color: #fff;	
	text-decoration: none;
	font-size: 1m;
}

#about .btn:hover{
	background: #8b00f7;	
}

#about .container{
	width:100%;
	max-width: 100%;
}


/* --------PROJECTS START ---------------*/

#projects{
	width:100%;
	max-width: 100%;
	color: whitesmoke;
}

#projects .hero{
	display:flex;
	justify-content: center;
	align-items: center;
	background: #222;
	min-height: 100%;
}

#projects .card-grid{
	display: grid;	
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	max-width: 1200px;
	width: 100%;
}

#projects .card{
	position: relative;
	list-style:none;
	height: 450px;
}

#projects .background{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	transform: scale(1.0) translateZ(0);
	transform-origin:center;
	transition: filter 200ms linear, transform 200ms linear;
}

#projects .card:hover .background{
	transform: scale(1.02) translateZ(0);
	
}
#projects .card:hover .category{
	opacity: 0%;
	
}

#projects .content {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 24px;
}

#projects .content .category{
	color: #fff;
	font-size: 1.5rem;
}

#projects .card-grid:hover > .card:not(:hover) .background{
	filter: blur(25px);
}  


/* --------Media Query Projects ---------------*/

@media screen and (max-width: 960px){
	/* -------tablets-----*/
	#projects .card-grid{
		display: grid;	
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 12px;
		grid-row-gap: 12px;
	}
}

@media screen and (max-width: 479px){
	/* ------phones-----*/
	#projects .card-grid{
		display: grid;	
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 12px;
		grid-row-gap: 12px;
	}
}



/* --------CONTACT START ---------------*/

#contact {
	cursor: pointer;
	width:100%;
	max-width: 100%;
	color: whitesmoke;
}

#maps {
	color: whitesmoke;
}

#contact .btn{
	border: 2px whitesmoke ;
	width: 20%;
	padding: 15px 22px;
	background: #000;
	border-radius: 50px;
	margin-top: 10px;
}


#contact .btn a{
	color: #fff;	
	text-decoration: none;
	font-size: 1m;
}

#contact .btn:hover{
	background: #8b00f7;	
}

#footer {
	width:100%;
	max-width: 100%;
	color: whitesmoke;
}

#social .container{
	width: 50%;
	padding: 50px;
}
#social {
	padding: 50px;
}

#social a{
	width:100%;
	max-width: 100%;
	color: whitesmoke;
}

#social a:hover{
	width:100%;
	max-width: 100%;
	color: #8b00f7;
}

#social .social{
	width:100%;
	max-width: 100%;
	color: whitesmoke;
}


/* --------Media Query Contact ---------------*/

@media screen and (max-width: 767px){
	/* -------tablets-----*/

	.heading-content{
		position: absolute;
		top: 20%;
		width:100%;
		max-width: 100%;
	}

	.heading-content h5{
		font-size: 2em;
	}

	.heading-content h1{
		font-size: 3em;
	}
	.heading-content h2{
		font-size: 3em;
	}

	.heading-content h2:hover{
		font-size: 3em;
	}

	#contact .btn{
	width: 100%;
	}

	#maps .post-heading h3{
		font-size: 2em;
		text-align: center;
	} 

}

@media screen and (max-width: 479px){
	/* ------phones-----*/
.heading-content{
		position: absolute;
		top: 10%;
		width:100%;
		max-width: 100%;
	}

	.heading-content h5{
		font-size: 2em;
	}

	.heading-content h1{
		font-size: 3em;
	}
	.heading-content h2{
		font-size: 3em;
	}

	.heading-content h2:hover{
		font-size: 3em;
	}

	#contact .post-heading h3{
		font-size: 2em;
	} 

	#contact .btn{
	width: 60%;
}
	#maps .post-heading h3{
		font-size: 2em;
		text-align: center;
	} 

}





